.header{
    height: 80px;
    background-color: #18242c;
    display: flex;
    justify-content: space-between;
    padding-left:140px ;
    padding-right:140px ;
    align-items: center;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px ;
}
.header a:hover{
    color: orange;
}

